<!--
 /****************************************************************************************
 * this html was inspired from :
 *
 *    Title: color-picker Component with Angular
 *    Author: Lukas Marx
 *    Date: 2018
 *    Availability: https://malcoded.com/posts/angular-color-picker/
 *
 ***************************************************************************************/
-->

<div class="colorpicker">
    <div class="input-wrapper">
        <p *ngIf="isPrimaryColor" id="primaryColor" class="header">Primary color</p>
        <p *ngIf="!isPrimaryColor" id="primaryColor" class="header">Secondary color</p>
        <div class="color-div" [ngStyle]="{ 'background-color': color || 'white' }"></div>
        <input class="text" maxlength="6" (change)="setColorFromInput()" [value]="color.slice(1, 7)" />
    </div>
    <div id="pickerContainer">
        <div class="color-wrapper">
            <app-color-palette #palette [hue]="hue" (color)="color = $event"></app-color-palette>
            <app-color-slider #slider (color)="hue = $event"></app-color-slider>
        </div>
        <div class="container">
            <p class="header">Last colors :</p>
            <div *ngFor="let i of lastColors" class="color-container">
                <button
                    oncontextmenu="return false;"
                    (mouseup)="setColorOnClick($event, i)"
                    class="lastColors"
                    [ngStyle]="{ 'background-color': i }"
                ></button>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="header">Opacity</p>
        <input class="slider" type="range" id="opacityValue" value="100" min="0" max="100" />
    </div>

    <div id="buttonsContainer">
        <button id="accept" (click)="acceptChanges()" class="buttons">Accept</button>
        <button id="cancel" (click)="cancelChanges()" class="buttons">Cancel</button>
    </div>
</div>
