<!--
 /****************************************************************************************
 * this html was inspired from :
 *
 *    Title: color-picker Component with Angular
 *    Author: Lukas Marx
 *    Date: 2018
 *    Availability: https://malcoded.com/posts/angular-color-picker/
 *
 ***************************************************************************************/
-->
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<div class="colorpicker">
    <div class="arrow-left"></div>
    <!--<div id="closeButton" class="closeButton" (click)="closePalette()"><i class="material-icons">close</i></div>-->
    <div class="input-wrapper">
        <p *ngIf="isPrimaryColor" id="primaryColor" class="header">Couleur Primaire</p>
        <p *ngIf="!isPrimaryColor" id="primaryColor" class="header">Couleur Secondaire</p>
        <div class="color-div" [ngStyle]="{ 'background-color': color || 'white' }"></div>
        <input class="text" maxlength="6" (change)="setColorFromInput($event.target.value)" [value]="color.slice(1, 7)" />
        <label id="label">#</label>
    </div>
    <div id="pickerContainer">
        <div class="color-wrapper">
            <app-color-palette #palette [hue]="hue" (color)="color = $event" (click)="addColor(color)" (click)="setColor()"></app-color-palette>
            <app-color-slider #slider (color)="hue = $event"></app-color-slider>
        </div>
    </div>
    <div class="container effect">
        <p class="header">Opacité</p>
        <input class="slider" type="range" id="opacityValue" (change)="setOpacity($event.target.value)" [value]="opacity" min="0" max="100" />
    </div>
    <div class="container effect">
        <p class="header">Dernière Couleurs :</p>
        <div *ngFor="let i of lastColors" class="color-container">
            <button
                oncontextmenu="return false;"
                (mouseup)="setColorOnClick($event, i)"
                class="lastColors"
                [ngStyle]="{ 'background-color': i }"
            ></button>
        </div>
    </div>
</div>
