:host {
    display: none;
    position: fixed;
    left: 50px;
    top: 0;
    padding: 10px;
    height: 100%;
    width: 250px;
    background-color: #070f3a;
}
// 050d38
.color-wrapper {
    display: flex;
    height: auto;
    width: auto;
}

.color-container {
    display: inline-block;
}
.lastColors {
    outline: none;
    height: 20px;
    width: 20px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-width: 0.2px;
}
.lastColors:focus {
    transform: rotate3d(0, 0, 1, 135deg) scale(1.25);
    transition: border-radius 0.5s ease-out 0s, transform 0.5s ease-out 0s, fake 0ms ease 0s;
    transform: rotate3d(0, 0, 1, 135deg) scale(1.25);
    transform-origin: 50% 50%;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 2.5px solid black; /* Green */
}
.input-wrapper {
    margin-top: 16px;
    display: flex;
    border-radius: 1px;
    outline: none;
    padding: 8px;
    height: 32px;
    justify-content: center;
}

.color-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.text {
    outline: none;
    margin: none;
    color: white;
    font-size: 18px;
    border: #0d1546;
    background-color: #070f3a;
    font-family: monospace;
}
.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}
#submit {
    &:hover {
        background: #2b2bff;
        box-shadow: 0px 6px 15px #0000ff61;
        color: #ffffff;
    }
}
#cancel {
    position: relative;
    left: 25px;
    &:hover {
        background: #ff2b2b;
        box-shadow: 0px 3px 15px rgb(114, 3, 3);
        color: #ffffff;
    }
}
.buttonContainer {
    display: flex;
    position: relative;
    top: 18px;
    margin-left: 12%;
}
.buttons {
    font-family: Hack, monospace;
    background: whitesmoke;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    color: black;
    border: 2px solid gainsboro;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    outline: none;

    &::after {
        content: '\f054';
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        position: absolute;
        left: 80%;
        top: 54%;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    &:hover {
        padding-right: 40px;
        transition: all 0.5s;
    }
}
