:host {
    display: block;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    width: 235px;
    background-color: beige;
}
.color-wrapper {
    display: flex;
    height: auto;
    width: auto;
    background-color: burlywood;
}

.input-wrapper {
    margin-top: 16px;
    display: flex;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    padding: 8px;
    height: 32px;
    justify-content: center;
}

.color-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.text {
    flex: 1;
    width: 20px;
    font-family: 'Helvetica';
    line-height: 32px;
}
