<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<div id="attribute">
    <div id="lineWidthcontainer" *ngIf="checkIfContainAttribute('lineWidth')">
        <p id="header" for="volume">Line Width</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue + 'px'"
            maxlength="5"
            min="1"
            max="100"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="1" max="100" />
    </div>
    <div id="lineWidthcontainer" *ngIf="checkIfContainAttribute('eraserWidth')">
        <p id="header" for="volume">eraser Width</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue + 'px'"
            maxlength="5"
            min="5"
            max="100"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="5" max="100" />
    </div>

    <div *ngIf="checkIfContainAttribute('texture')">
        <div id="currentImageContainer">
            <img id="currentImage" src="../../../assets/b0.svg" />
            <p class="header" id="headerImage">Texture</p>
            <i class="material-icons" (click)="toggleList($event.target.parentElement.nextSibling.id)" id="icon">expand_more</i>
        </div>
        <div id="textureContainer">
            <img id="imageTexture" (click)="setTexture(0)" src="../../../assets/b0.svg" />
            <img id="imageTexture" (click)="setTexture(1)" src="../../../assets/b1.svg" />
            <img id="imageTexture" (click)="setTexture(2)" src="../../../assets/b2.svg" />
            <img id="imageTexture" (click)="setTexture(3)" src="../../../assets/b3.svg" />
            <img id="imageTexture" (click)="setTexture(4)" src="../../../assets/b4.svg" />
        </div>
    </div>
    <div id="lineWidthcontainer" *ngIf="checkIfContainAttribute('junctionWidth')">
        <p id="header" for="volume">Junction diameter</p>
        <input
            class="textInput"
            type="text"
            (change)="setJunctionWidth($event.target.value)"
            [value]="junctionWidth + 'px'"
            maxlength="5"
            min="1"
            max="100"
        />
        <input class="size-slider" type="range" (change)="setJunctionWidth($event.target.value)" [value]="junctionWidth" min="1" max="100" />
    </div>
    <div id="lineWidthcontainer" *ngIf="checkIfContainAttribute('strokeWidth')">
        <p id="header" for="volume">Stroke Width</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue + 'px'"
            maxlength="5"
            min="1"
            max="100"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="1" max="100" />
    </div>

    <div id="lineWidthcontainer" *ngIf="checkIfContainAttribute('junction')">
        <p id="junctionHeader" class="header">Junction point</p>
        <div class="sliderJunction">
            <input type="checkbox" id="sliderJunction" (change)="setJunctionState()" name="check" checked />
            <label for="sliderJunction"></label>
        </div>
    </div>
    <div *ngIf="checkIfContainAttribute('rectangleStyle')">
        <div id="currentImageContainer">
            <p class="header" id="headerStyle">Style</p>
            <div class="shapeStyle" id="currentRectangleStyle"></div>
            <i (click)="toggleList($event.target.parentElement.nextSibling.id)" class="material-icons" id="icon">expand_more</i>
        </div>
        <div id="styleContainer">
            <div (click)="setShapeStyle(2, false)" class="shapeStyle" id="style2"></div>
            <div (click)="setShapeStyle(0, false)" class="shapeStyle" id="style0"></div>
            <div (click)="setShapeStyle(1, false)" class="shapeStyle" id="style1"></div>
        </div>
    </div>

    <div *ngIf="checkIfContainAttribute('ellipseStyle')">
        <div id="currentImageContainer">
            <p class="header" id="headerStyle">Style</p>
            <div class="shapeStyle" id="currentEllipseStyle"></div>
            <i (click)="toggleList($event.target.parentElement.nextSibling.id)" class="material-icons" id="icon">expand_more</i>
        </div>
        <div id="styleContainer">
            <div (click)="setShapeStyle(2, true)" class="shapeStyle" style="border-radius: 50%" id="style2"></div>
            <div (click)="setShapeStyle(0, true)" class="shapeStyle" style="border-radius: 50%" id="style0"></div>
            <div (click)="setShapeStyle(1, true)" class="shapeStyle" style="border-radius: 50%" id="style1"></div>
        </div>
    </div>
    <div id="buttonContainer">
        <button id="accept" (click)="acceptChanges()" class="buttons">Accept</button>
        <button (click)="restoreValues()" id="cancel" class="buttons">Cancel</button>
    </div>
</div>
