<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<div id="attribute">
    <div id="lineWidthcontainer" *ngIf="checkIfContainAttribute('lineWidth')">
        <p id="header" for="volume">Line Width</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue + 'px'"
            maxlength="5"
            min="1"
            max="100"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="1" max="100" />
    </div>

    <div *ngIf="checkIfContainAttribute('texture')">
        <div id="currentImageContainer">
            <img id="currentImage" src="../../../assets/b0.svg" />
            <p class="header" id="headerImage">Texture</p>
            <i class="material-icons" (click)="toggleTextureList()" id="icon">expand_more</i>
        </div>
        <div id="textureContainer">
            <img id="imageTexture" (click)="setTexture(0)" src="../../../assets/b0.svg" />
            <img id="imageTexture" (click)="setTexture(1)" src="../../../assets/b1.svg" />
            <img id="imageTexture" (click)="setTexture(2)" src="../../../assets/b2.svg" />
            <img id="imageTexture" (click)="setTexture(3)" src="../../../assets/b3.svg" />
            <img id="imageTexture" (click)="setTexture(4)" src="../../../assets/b4.svg" />
        </div>
    </div>

    <div *ngIf="checkIfContainAttribute('strokeWidth')">
        <p id="header" for="volume">Stroke Width</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue + 'px'"
            maxlength="5"
            min="1"
            max="100"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="1" max="100" />
    </div>
    <div *ngIf="checkIfContainAttribute('rectangleStyle')">
        <div id="currentStyleContainer">
            <p class="header" id="headerImage">Style</p>
            <img id="currentStyle" src="../../../assets/s0.svg" />
            <img id="currentStyle" src="../../../assets/s1.svg" />
            <img id="currentStyle" src="../../../assets/b0.svg" />
        </div>
    </div>
</div>
