#background-vue {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -4;
    position: absolute;
    background-color: #4d4f5e;
}

.container {
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
}

.drawing-container {
    position: relative;
    overflow: auto;
    flex: 1 1 auto;
    left: 75px;
    transition: all 0.6s ease;
}

#background {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -4;
    position: absolute;
    background-color: #04092a;
}
.drawing-container-open {
    position: relative;
    overflow: auto;
    flex: 1 1 auto;
    transition: all 0.6s ease;
    left: 341px;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

#attributeBar {
    top: -8px;
    display: flex;
    flex-direction: column;
    background-color: #070f3a;
    width: 0;
    height: 101%;
    z-index: -4;
    position: absolute;
}

#primaryColorPicker {
    position: absolute;
    top: 435px;
    left: 65px;
}

#secondaryColorPicker {
    position: absolute;
    top: 435px;
    left: 65px;
}

#stampList {
    position: absolute;
    top: 114px;
    left: 372px;
}
.arrow-left {
    position: relative;
    width: 0;
    left: 341px;
    height: 0;
    top: 159px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #797979;
}
