<div id="background-vue">
    <div class="container">
        <app-sidebar
            [primaryColor]="currentTool.primaryColor.slice(0, 9)"
            [secondaryColor]="currentTool.secondaryColor.slice(0, 9)"
            style="z-index: 1"
        ></app-sidebar>

        <app-attributebar #attributeBar id="attributeBar"></app-attributebar>
        <div id="drawing-div" class="drawing-container">
            <app-drawing class="drawing" tabindex="0"></app-drawing>
        </div>
        <div [ngStyle]="{ display: displayValue }" class="arrow-left"></div>
        <app-stamps-container #stampContainer id="stampList" [ngStyle]="{ display: displayValue }"></app-stamps-container>
        <app-color-picker [isPrimaryColor]="true" [lastColors]="lastColors" style="display: none" id="primaryColorPicker"></app-color-picker>
        <app-color-picker [isPrimaryColor]="false" [lastColors]="lastColors" style="display: none" id="secondaryColorPicker"></app-color-picker>
    </div>
</div>
