.container {
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    z-index: -1;
    left: 100px;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
#attributeBar {
    left: 42.5px;
    top: -8px;
    display: flex;
    flex-direction: column;
    background-color: #070f3a;
    width: 280px;
    height: 101%;
    z-index: -4;
    position: absolute;
}
