.topBar {
    background-color: blue;
    width: 100%;
    height: 100px;
    color: white;
    font-family: Monaco;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.button {
    background-color: blue;
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
}

.button:hover {
    background-color: white;
    border-color: blue;
    color: blue;
    border: 2px solid;
}

.options {
    font-family: Monaco;
}