<div class="container">
    <div class=topBar>
        <h1>Guide d'utilisation</h1>
    </div>

    <div class="options ">
        <h3>1) Créer un dessin</h3>
        <p>En cliquant sur le bouton "Créer un dessin ", vous ouvrirez un nouvel éditeur dans le quel vous pourrez laisser aller votre créativité!</p>
        <br>
        <br>
        <br>
        <h3>2) Continuer un dessin</h3>
        <p>En cliquant sur le bouton "Continuer un dessin ", vous ouvrirez le caroussel de dessins et vous pourrez choisir un dessin à continuer!</p>
        <br>
        <br>
        <br>
        <h3>3) Ouvrir le caroussel de dessins</h3>
        <p>En cliquant sur le bouton "Ouvrir le caroussel de dessins ", vous ouvrirez le caroussel de dessins et vous pourrez choisir un dessin sauvegardé afin de le continuer, le modifier ou le supprimer!</p>
    </div>
    <div id="quit ">
        <button class="button" routerLink="/main-page ">Quitter le guide!</button>
    </div>
</div>