<div id="background">
    <div class="userGuide">
        <div class="topBar">
            <button class="close" (click)="closeUserGuide()">x</button>
            <h1>Guide d'utilisation</h1>
        </div>

        <div class="tab">
            <button (click)="openTab('Outils') ">Dessiner</button>
            <button (click)="openTab( 'Divers') ">Divers</button>
        </div>

        <div id="Outils" style=" display: block; " class="tabcontent ">
            <div id=" Pencil ">
                <h2>Crayon</h2>
                <p>Le crayon permet de dessiner un trait uni sur la surface de dessin</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/crayon.gif ">
                </div>
            </div>
            <div id="Brush ">
                <h2>Pinceau</h2>
                <p>Le pinceau permet de dessiner un train d'une texture définie sur la surface de dessin </p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/pinceau.gif ">
                </div>
            </div>
            <div id="Rectangle ">
                <h2>Rectangle</h2>
                <p>Le rectangle permet de dessiner un rectangle ou un carré en pesant sur la touche shift</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/rectangle.gif ">
                </div>
            </div>
            <div id="Ellipse ">
                <h2>Ellipse</h2>
                <p>L'ellipse permet de dessiner une ellipse ou un cercle en pesant sur la touche shift</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/ellipse.gif">
                </div>
            </div>
            <div id="Ligne ">
                <h2>Ligne</h2>
                <p>La ligne permet de dessiner une ou plusieurs lignes droites</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/ligne.gif">
                </div>
            </div>
            <div id="Efface ">
                <h2>Efface</h2>
                <p>L'efface permet d'effacer les lignes qui ont été dessiné au préalable'</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/efface.gif">
                </div>
            </div>
            <div id="Seau de peinture ">
                <h2>Seau de peinture</h2>
                <p>Le seau de peinture permet de remplir les pixels contigus ou non contigus qui partagent la même couleur avec un clic ou un double-clic'</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/bucket.gif">
                </div>
            </div>
            <div id="Pipette ">
                <h2>Pipette</h2>
                <p>La pipette permet de changer la couleur principale au secondaire à partir d'une couleur présente sur le canvas avec un clic ou un double-clic'</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/pipette.gif">
                </div>
            </div>
            <div id="Polygone ">
                <h2>Polygone</h2>
                <p>Le polygone permet de dessiner un polygone ayant de 3 à 12 cotés avec différents styles'</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/polygone.gif">
                </div>
            </div>
            <div id="Selection ">
                <h2>Selection</h2>
                <p>La sélection permet en appuyant sur la touche R ou S de sélectionner une partie rectangulaire ou sous forme d'ellipse du dessin et de la déplacer'</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/selection.gif">
                </div>
            </div>
            <div id="Annuler-refaire ">
                <h2>Annuler et refaire</h2>
                <p>Annuler permet d'annuler la dernière partie qu'on a dessinée et refaire permet de remettre ce qu'on vient d'annuler'</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/undo-redo.gif">
                </div>
            </div>
            <div id="Étampe">
                <h2>Étampe</h2>
                <p>Étampe permet de choisir une étampe et l'insérer sur le dessin</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/etampe.gif">
                </div>
            </div>
            <div id="Aerosol">
                <h2>Aerosol</h2>
                <p>L'aérosol permet de dessiner des goutelettes a des emplacements aléatoires</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/aerosol.gif">
                </div>
            </div>
            <div id="Plume">
                <h2>Plume</h2>
                <p>La plume vous permet de dessiner sur le canvas avec un angle différent</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/plume.gif">
                </div>
            </div>
            <div id="Texte">
                <h2>Texte</h2>
                <p>L'outil texte vous permet d'écrire du texte sur votre canvas.</p>
                <div class="demo ">
                    <img width="320 " height="240 " src="../../../assets/text.gif">
                </div>
            </div>
        </div>



        <div id="Divers" class="tabcontent " style=" display: none; ">
            <h2>Créer un dessin</h2>
            <p>En cliquant sur le bouton "Créer un dessin ", vous ouvrirez un nouvel éditeur dans le quel vous pourrez laisser aller votre créativité!</p>
            <div class="demo ">
                <img width="320 " height="240 " src="../../../assets/CreerUnDessin.png ">
            </div>

            <h2>Exporter un dessin</h2>
            <p>En cliquant sur le bouton "Exporter un dessin " ou en appuyant sur ctrl-e, vous ouvrirez une modale qui vous permettra de sauvegarder votre dessin sur votre ordinateur local ou de l'envoyer par e-mail!</p>
            <div class="demo ">
                <img width="320 " height="240 " src="../../../assets/export.png ">
            </div>

            <h2>Sauvegarder un dessin</h2>
            <p>En cliquant sur le bouton "Sauvegarder un dessin " vous pourrez enregistré votre dessin sur notre base de données !</p>
            <div class="demo ">
                <img width="320 " height="240 " src="../../../assets/Sauvegarder.png ">
            </div>

            <h2>Carroussel de dessin</h2>
            <p>En cliquant sur le bouton "Carroussel de dessin " vous pouvez choisir un dessin à compléter ou le supprimer de la base de données!</p>
            <div class="demo ">
                <img width="320 " height="240 " src="../../../assets/carroussel.png ">
            </div>
        </div>
    </div>
</div>