<!--
 /****************************************************************************************
 * this html was inspired from :
 *
 *    Title: color-picker Component with Angular
 *    Author: Lukas Marx
 *    Date: 2018
 *    Availability: https://malcoded.com/posts/angular-color-picker/
 *
 ***************************************************************************************/
-->
<canvas #canvas class="color-palette" width="190" height="160" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"> </canvas>
