.color-palette:hover {
    cursor: pointer;
}

.color-palette {
    border: gray;
    border-style: double;
}
:host {
    width: 200px;
    height: 200px;
    display: block;
    margin-top: 7px;
    margin-left: 7px;
    border-width: 2px;
}
