<mat-dialog-content class="export">
    <div class="topbar">
        <button class="close" (click)="closeDialog()">x</button>
        <h1>Exporter un dessin</h1>
    </div>
    <div id="filtres">
        <p>Choisir un filtre:</p>
        <input type="radio" id="filter1" name="filter" value="Flou" (click)="setImageFilter('blur(5px)')">
        <label for="filter1">Flou</label><br>
        <input type="radio" id="filter2" name="filter" value="Noir et Blanc" (click)="setImageFilter('grayscale(100%)')">
        <label for="filter2">Noir et Blanc</label><br>
        <input type="radio" id="filter3" name="filter" value="Lumineux" (click)="setImageFilter('brightness(200%)')">
        <label for="filter3">Lumineux</label><br>
        <input type="radio" id="filter4" name="filter" value="Contraste" (click)="setImageFilter('contrast(200%)')">
        <label for="filter4">Contraste</label><br>
        <input type="radio" id="filter5" name="filter" value="Inversement des couleurs" (click)="setImageFilter('hue-rotate(90deg)')">
        <label for="filter5">Inversement de couleurs</label><br>
        <input type="radio" id="filter6" name="filter" value="Aucun filtre" checked (click)="setImageFilter('none')">
        <label for="filter5">Aucun Filtre</label><br>
    </div>
    <div id="format">
        <p>Choisir un format (JPEG ou PNG)</p>
        <input type="radio" id="jpeg" name="format" value="jpeg" checked (click)="setImageType('jpeg')">
        <label for="jpeg">JPEG</label><br>
        <input type="radio" id="png" name="format" value="png" (click)="setImageType('png')">
        <label for="png ">PNG</label><br>
    </div>
    <div class="chooseName ">
        <p>Choisir un nom pour votre image</p>
        <label for="name ">Nom: </label>
        <input type="text " id="name " name="name " required size="50 " (change)="setImageName($event.target.value)">

        <p>Si vous souhaitez envoyer cette image par courriel. Entrez l'adresse email du destinataire:</p>
        <label for="email ">Email: </label>
        <input type="text " id="email " name="email " required size="50 " (change)="setEmail($event.target.value)">

    </div>
    <div class="demo ">
        <img width="200 " height="180 " src={{image.src}} #demo>
    </div>

    <div class=" confirmation ">
        <button class="confirm " (click)="sendEmail()">Envoyer par courriel </button>
        <button class=" cancel " (click)="saveImageOnDisk() ">Sauvegarder sur l'ordinateur</button>
    </div>
</mat-dialog-content>