<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<div id="attribute">
    <div id="canvasContainer" *ngIf="onToolChange('pipette')">
        <div id="lineWidthcontainer">
            <p id="header" for="volume">Pipette de couleur</p>
        </div>
        <canvas *ngIf="circleIsShown" width="50px" height="50px" #pipette id="pipetteCircle"></canvas>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('stamp')">
        <p id="header" for="volume">Degré de rotation</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setDegree($event.target.value)"
            [value]="degreeValue"
        />
        <input class="size-slider" type="range" (change)="setDegree($event.target.value)" [value]="degreeValue" min="-360" max="360" />
        <label id="label">°</label>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('stamp')">
        <p id="headerStampInput" for="volume">Facteur de <br />grandeur</p>
        <input
            class="textInput"
            id="LeftSideInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="1"
            (keydown)="validate($event)"
            (change)="setStampSize($event.target.value, false)"
            [value]="1"
        />
        <label id="stampLabel">:</label>

        <input
            class="textInput"
            id="RightSideInput"
            type="text"
            pattern="([1-9]|[1-9][1-9]|100)"
            minlength="1"
            maxlength="1"
            (keydown)="validate($event)"
            (change)="setStampSize($event.target.value, true)"
            [value]="1"
        />
    </div>
    <div *ngIf="onToolChange('stamp')" id="currentImageContainer">
        <img id="currentStamp" [src]="currentStamp" (click)="toggleStampsList()" />
        <p class="header" id="headerStamp">Étampe actuelle</p>
        <i #stampIcon class="material-icons" (click)="toggleStampsList()" id="stampicon">expand_more</i>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('lineWidth')">
        <p id="header" for="volume">Epaisseur</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="1" max="100" />
        <label id="label">px</label>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('squareSize')">
        <p id="header" for="volume">Taille des carrés</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setSquareSize($event.target.value)"
            [value]="squareSize"
        />
        <input class="size-slider" type="range" (change)="setSquareSize($event.target.value)" [value]="widthValue" min="1" max="100" />
        <label id="label">px</label>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('opacity')">
        <p id="header" for="volume">Opacité</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setOpacity($event.target.value)"
            [value]="opacity"
        />
        <input class="size-slider" type="range" (change)="setOpacity($event.target.value)" [value]="widthValue" min="1" max="100" />
        <label id="label">px</label>
    </div>
    <div id="policeContainer" *ngIf="onToolChange('textPolice')">
        <p id="header" for="volume">Police</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue"
        />
        <label id="label">px</label>
        <mat-form-field appearance="fill">
            <mat-label>Font family</mat-label>
            <mat-select
                [(ngModel)]="selectedValue"
                (selectionChange)="setFontFamily($event)"
                [value]="polices[0]"
                [ngStyle]="{ 'font-family': selectedValue }"
                name="police"
            >
                <mat-option *ngFor="let police of polices" [value]="police">
                    <p [ngStyle]="{ 'font-family': police }" id="currentPolice">
                        {{ police }}
                    </p>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-button-toggle-group [multiple]="true" (change)="setFontStyle($event)" #groupPolice="matButtonToggleGroup">
            <mat-button-toggle value="bold">
                <mat-icon class="MatIcon">format_bold</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="italic">
                <mat-icon class="MatIcon">format_italic</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-button-toggle-group id="allignement" #group="matButtonToggleGroup" value="left" (change)="setAllignement($event)">
            <mat-button-toggle value="left" aria-label="Text align left">
                <mat-icon class="MatIcon">format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="center" aria-label="Text align center">
                <mat-icon class="MatIcon">format_align_center</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="right" aria-label="Text align right">
                <mat-icon class="MatIcon">format_align_right</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('eraserWidth')">
        <p id="header" for="volume">Epaisseur Efface</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="5" max="100" />
        <label id="label">px</label>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('tolerance')">
        <p id="header" for="volume">Tolérance de couleur</p>
        <input
            class="textInput"
            type="text"
            (change)="setTolerance($event.target.value)"
            [value]="tolerance"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
        />
        <input class="size-slider" type="range" (change)="setTolerance($event.target.value)" [value]="tolerance" min="0" max="100" />
        <label id="label">%</label>
    </div>

    <div *ngIf="onToolChange('texture')">
        <div id="currentImageContainer">
            <img id="currentImage" [src]="currentTexture" />
            <p class="header" id="headerImage">Texture</p>
            <i class="material-icons" (click)="toggleList($event.target.parentElement.nextSibling.id)" id="icon">expand_more</i>
        </div>
        <div id="textureContainer">
            <img id="imageTexture" (click)="setTexture(1)" src="../../../assets/b1.svg" />
            <img id="imageTexture" (click)="setTexture(0)" src="../../../assets/b0.svg" />
            <img id="imageTexture" (click)="setTexture(3)" src="../../../assets/b3.svg" />
            <img id="imageTexture" (click)="setTexture(2)" src="../../../assets/b2.svg" />
            <img id="imageTexture" (click)="setTexture(4)" src="../../../assets/b4.svg" />
            <img id="imageTexture" (click)="setTexture(6)" src="../../../assets/b6.svg" />
            <img id="imageTexture" (click)="setTexture(5)" src="../../../assets/b5.svg" />
            <img id="imageTexture" (click)="setTexture(7)" src="../../../assets/b7.svg" />
        </div>
    </div>

    <div id="lineWidthcontainer" *ngIf="onToolChange('junctionWidth')">
        <p id="header" for="volume">Taille Jonction</p>
        <input
            class="textInput"
            type="text"
            (change)="setJunctionWidth($event.target.value)"
            [value]="junctionWidth"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
        />
        <input class="size-slider" type="range" (change)="setJunctionWidth($event.target.value)" [value]="junctionWidth" min="1" max="100" />
        <label id="label">px</label>
    </div>
    <div id="lineWidthcontainer" *ngIf="onToolChange('strokeWidth')">
        <p id="header" for="volume">Epaisseur Contour</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineWidth($event.target.value)"
            [value]="widthValue"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
        />
        <input class="size-slider" type="range" (change)="setLineWidth($event.target.value)" [value]="widthValue" min="1" max="100" />
        <label id="label">px</label>
    </div>

    <div id="lineWidthcontainer" *ngIf="onToolChange('lineLenght')">
        <p id="header" for="volume">Taille Ligne</p>
        <input
            class="textInput"
            type="text"
            (change)="setLineLength($event.target.value)"
            [value]="lenghtValue"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
        />
        <input class="size-slider" type="range" (change)="setLineLength($event.target.value)" [value]="lenghtValue" min="5" max="100" />
        <label id="label">px</label>
    </div>

    <div id="lineWidthcontainer" *ngIf="onToolChange('angle')">
        <p id="header" for="volume">Angle</p>
        <input
            class="textInput"
            type="text"
            (change)="setAngle($event.target.value)"
            [value]="angleValue"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
        />
        <input class="size-slider" type="range" (change)="setAngle($event.target.value)" [value]="angleValue" min="0" max="360" />
        <label id="label">°</label>
    </div>

    <div id="lineWidthcontainer" *ngIf="onToolChange('junction')">
        <p id="junctionHeader" class="header">Point De Jonction</p>
        <div class="sliderJunction">
            <input type="checkbox" id="sliderJunction" (change)="setJunctionState($event.target.checked)" name="check" checked />
            <label for="sliderJunction"></label>
        </div>
    </div>
    <div *ngIf="onToolChange('rectangleStyle')">
        <div id="currentImageContainer">
            <p class="header" id="headerStyle">Style</p>
            <div class="shapeStyle" id="currentRectangleStyle"></div>
            <i (click)="toggleList($event.target.parentElement.nextSibling.id)" class="material-icons" id="icon">expand_more</i>
        </div>
        <div id="styleContainer">
            <div (click)="setShapeStyle(2, false)" class="shapeStyle" id="style2"></div>
            <div (click)="setShapeStyle(0, false)" class="shapeStyle" id="style0"></div>
            <div (click)="setShapeStyle(1, false)" class="shapeStyle" id="style1"></div>
        </div>
    </div>

    <div *ngIf="onToolChange('ellipseStyle')">
        <div id="currentImageContainer">
            <p class="header" id="headerStyle">Style</p>
            <div class="shapeStyle" id="currentEllipseStyle"></div>
            <i (click)="toggleList($event.target.parentElement.nextSibling.id)" class="material-icons" id="icon">expand_more</i>
        </div>
        <div id="styleContainer">
            <div (click)="setShapeStyle(2, true)" class="shapeStyle" style="border-radius: 50%" id="style2"></div>
            <div (click)="setShapeStyle(0, true)" class="shapeStyle" style="border-radius: 50%" id="style0"></div>
            <div (click)="setShapeStyle(1, true)" class="shapeStyle" style="border-radius: 50%" id="style1"></div>
        </div>
    </div>
    <div *ngIf="onToolChange('polygonStyle')">
        <div id="currentImageContainer">
            <p class="header" id="headerStyle">Style</p>
            <div id="triangleStyle1"></div>
            <i (click)="toggleList($event.target.parentElement.nextSibling.id)" class="material-icons" id="icon">expand_more</i>
        </div>
        <div id="styleContainer">
            <div (click)="setShapeStyle(2, false)" class="triangleSelectable" id="triangleStyle1"></div>
            <div (click)="setShapeStyle(0, false)" class="triangleSelectable" id="triangleStyle1">
                <!-- un div triangulaire dans un 2e div triangulaire pour pouvoir faire le triangle avec bordure seulement -->
                <div id="triangleBackgroundStyle2"></div>
            </div>
            <div (click)="setShapeStyle(1, false)" class="triangleSelectable" id="triangleStyle3">
                <div id="triangleBackgroundStyle3"></div>
            </div>
        </div>

        <div class="header">Nombre de cotés :</div>
        <div>
            <div class="grid-container">
                <div class="numberCircle" (click)="setNumberSides(3)">3</div>
                <div class="numberCircle" (click)="setNumberSides(4)">4</div>
                <div class="numberCircle" (click)="setNumberSides(5)">5</div>
                <div class="numberCircle" (click)="setNumberSides(6)">6</div>
                <div class="numberCircle" (click)="setNumberSides(7)">7</div>
                <div class="numberCircle" (click)="setNumberSides(8)">8</div>
                <div class="numberCircle" (click)="setNumberSides(9)">9</div>
                <div class="numberCircle" (click)="setNumberSides(10)">10</div>
                <div class="numberCircle" (click)="setNumberSides(11)">11</div>
                <div class="numberCircle" (click)="setNumberSides(12)">12</div>
            </div>
        </div>
    </div>

    <div id="dropletsWidthContainer" *ngIf="onToolChange('dropletsWidth')">
        <p id="header" for="volume">Diamètre goutelettes</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setDropletsWidth($event.target.value)"
            [value]="dropletsWidthValue"
        />
        <input class="size-slider" type="range" (change)="setDropletsWidth($event.target.value)" [value]="dropletsWidthValue" min="1" max="10" />
        <label id="label">px</label>
    </div>

    <div id="sprayIntervalContainer" *ngIf="onToolChange('sprayInterval')">
        <p id="header" for="volume">Fréquence</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setFrequency($event.target.value)"
            [value]="frequency"
        />
        <input class="size-slider" type="range" (change)="setFrequency($event.target.value)" [value]="frequency" min="4" max="1000" />
        <label id="label">Hz</label>
    </div>

    <div id="sprayWidthContainer" *ngIf="onToolChange('sprayWidth')">
        <p id="header" for="volume">Diamètre Aérosol</p>
        <input
            class="textInput"
            type="text"
            pattern="([0-9]|[1-9][0-9]|100)"
            minlength="1"
            maxlength="3"
            (keydown)="validate($event)"
            (change)="setRadius($event.target.value)"
            [value]="radius"
        />
        <input class="size-slider" type="range" (change)="setRadius($event.target.value)" [value]="radius" min="20" max="70" />
        <label id="label">Px</label>
    </div>

    <div #selectionIcons id="SelectionContainer" *ngIf="onToolChange('typeSelection')">
        <div>
            <p id="header" for="volume">Selection</p>
            <p id="header" for="volume">Type De Selection:</p>
            <div class="selectionOptionButtonContainer">
                <button
                    style="
                        width: 90%;
                        cursor: pointer;
                        position: relative;
                        top: 5px;
                        height: 20px;
                        border: none;
                        border-radius: 6px;
                        color: white;
                        background-color: red;
                    "
                    (click)="selectAll()"
                >
                    Tout Selectionner
                </button>
                <div class="buttonContainer">
                    <a id="rectSelection" class="inactive" (click)="selectionRectangle()" style="cursor: pointer">
                        <i class="material-icons">highlight_alt</i>
                    </a>
                    <a id="ellipseSelection" class="inactive" (click)="selectionEllipse()" style="cursor: pointer">
                        <i class="material-icons">panorama_fish_eye</i>
                    </a>
                    <a id="wandSelection" class="inactive" (click)="selectionMagicWand()" style="cursor: pointer">
                        <img id="wand" class="material-icons" src="../../../assets/wand.png" />
                    </a>
                </div>
            </div>

            <div class="selectWholeCanvas" style="background-color: rgb(248, 56, 56)"></div>
        </div>
        <div id="MagnetismContainer" style="display: block">
            <p id="header" class="header">Magnétisme (M)</p>
            <br />
            <div *ngIf="checkIfMagnetismActivated()">
                <div style="background-color: rgb(64, 61, 85); padding-top: 10px; height: 160px; border-radius: 6px; width: 100%">
                    <p id="header" for="volume">Choisir un point de controle</p>
                    <div class="typeSelectionContainer">
                        <div class="parentRectangle" style="width: 190px; height: 115px">
                            <div class="child" style="width: 170px; height: 100px; outline: dashed 1px rgb(255, 255, 255)"></div>
                            <div class="radioContainer">
                                <input type="radio" value="1" name="referencePoint" class="radio top-left" (click)="setAnchorPoint(1)" checked />
                                <input type="radio" value="2" name="referencePoint" class="radio top-mid" (click)="setAnchorPoint(2)" />
                                <input type="radio" value="3" name="referencePoint" class="radio top-right" (click)="setAnchorPoint(3)" />
                                <input type="radio" value="6" name="referencePoint" class="radio bottom-left" (click)="setAnchorPoint(6)" />
                                <input type="radio" value="7" name="referencePoint" class="radio bottom-mid" (click)="setAnchorPoint(7)" />
                                <input type="radio" value="8" name="referencePoint" class="radio bottom-right" (click)="setAnchorPoint(8)" />
                                <input type="radio" value="4" name="referencePoint" class="radio left-mid" (click)="setAnchorPoint(4)" />
                                <input type="radio" value="5" name="referencePoint" class="radio right-mid" (click)="setAnchorPoint(5)" />
                                <input type="radio" value="9" name="referencePoint" class="radio bullseye" (click)="setAnchorPoint(9)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
