#attribute {
    height: 100%;
    width: 265px;
    background-color: rgb(48, 46, 64);
    left: -282.6px;
    position: relative;
    padding-top: 11px;
    -webkit-box-shadow: inset 5px 5px 25px -20px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: inset 5px 5px 25px -20px rgba(0, 0, 0, 0.64);
    box-shadow: inset 5px 5px 25px -20px rgba(0, 0, 0, 0.64);
    transition: all 0.6s ease;
}

.attribute-open {
    position: relative;
    flex: 1 1 auto;
    -webkit-transform: translateX(375px);
    transform: translate(375px);
    transition: all 0.6s ease;
}
#LeftSideInput {
    position: relative;
    left: 55%;
    bottom: 50%;
    width: 13px;
    font-size: 25px;
}
#stampLabel {
    position: relative;
    left: 57.5%;
    bottom: 50%;
    width: 13px;
    font-size: 35px;
    color: white;
}
#RightSideInput {
    position: relative;
    left: 60%;
    bottom: 50%;
    width: 13px;
    font-size: 25px;
}
.size-slider {
    -webkit-appearance: none;
    width: 80%;
    height: 7px;
    position: relative;
    left: -18px;
    bottom: 6px;
    border-radius: 5px;
    background-color: white;
    outline: none;
    opacity: 0.98;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
#policeContainer {
    padding: 5px;
    position: relative;
    margin-bottom: 2px;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    height: 160px;
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black;
}
::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: solid 1px rgba(255, 255, 255, 0.9);
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white;
}
::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    background-color: transparent;
}
::ng-deep .mat-select-arrow {
    color: white;
}
::ng-deep .mat-button-toggle-standalone,
.mat-button-toggle-group {
    bottom: 35px;
    border-color: rgba(255, 255, 255, 0.9);
}
#allignement {
    left: 6px;
}
::ng-deep .mat-button-focus-overlay {
    display: none;
}
::ng-deep.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(255, 255, 255, 0.9);
}
::ng-deep .mat-button-toggle-appearance-standard {
    color: white;
    background: transparent;
}
::ng-deep .mat-select-value-text {
    color: #bfc5cc;
}
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    bottom: 18px;
    width: 100%;
}

.size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(202, 202, 202);
    cursor: pointer;
}

#label {
    position: relative;
    bottom: 60px;
    left: 93%;
    color: white;
    font-family: Hack, monospace;
}

.textInput {
    position: relative;
    width: 41px;
    bottom: 40px;
    left: 74%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(48, 46, 64);
    border: none;
}
#canvasContainer {
    width: 100%;
    height: 100%;
    border: black 1px salmon;
}
#pipetteCircle {
    width: 160px;
    height: 160px;
    border: black 2px solid;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 4%;
    left: 20%;
}
#lineWidthcontainer {
    padding: 5px;
    position: relative;
    margin-bottom: 2px;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    height: 60px;
}

#header {
    position: relative;
    color: white;
    bottom: 20px;
    width: auto;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    height: 0px;
    left: 6%;
}
#headerStampInput {
    position: relative;
    color: white;
    bottom: 22%;
    width: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 0px;
    left: 6%;
}
#headerImage {
    left: 23%;
}
#headerStamp {
    left: 35%;
    top: 15px;
}
#stampicon {
    font-size: 30px;
    position: fixed;
    color: white;
    left: 220px;
    &:hover {
        cursor: pointer;
    }
}
#isJunction {
    position: relative;
    left: 6%;
    top: 36%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.header {
    position: absolute;
    color: white;
    width: auto;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    height: 0px;
}

#junctionHeader {
    left: 9%;
}

#headerStyle {
    top: 10px;
    left: 30%;
}

.material-icons {
    user-select: none;
}
#wand {
    width: 28px;
}
#colorContainer {
    position: relative;
    top: 0;
    height: 50px;
}

.shapeStyle {
    width: 45px;
    height: 30px;
    position: relative;
    left: 20px;
    top: 10px;
    margin-right: 30px;
    background-color: white;
    &:hover {
        cursor: pointer;
    }
}

.color-div {
    border-radius: 50%;
    position: relative;
    top: 25px;
}

#currentImage {
    position: relative;
    width: 50px;
    height: 50px;
    right: 11px;
    &:hover {
        cursor: pointer;
    }
}
#currentStamp {
    position: relative;
    width: 70px;
    height: 70px;
    top: 3px;
    right: 1px;
    &:hover {
        cursor: pointer;
    }
}
#imageTexture {
    position: relative;
    height: 50px;
    top: 10px;
    width: 40px;
    margin-right: 20px;
    &:hover {
        cursor: pointer;
    }
}

#icon {
    font-size: 30px;
    position: fixed;
    color: white;
    left: 220px;
    top: 100px;
    &:hover {
        cursor: pointer;
    }
}

#style2 {
    background-color: white;
    border-color: white;
    border-width: 4px;
    border-style: solid;
}

#style0 {
    border-color: white;
    border-width: 4px;
    border-style: solid;
    background-color: transparent;
}

#style1 {
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

#textureContainer {
    display: none;
    position: relative;
    height: 120px;
    padding-left: 10px;
    width: 100%;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
}

#styleContainer {
    display: none;
    height: 70px;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
}

#currentRectangleStyle {
    position: absolute;
    top: 20px;
    left: 17px;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    background-color: white;
}

#currentEllipseStyle {
    position: absolute;
    top: 20px;
    left: 17px;
    border-color: white;
    border-width: 4px;
    border-radius: 50%;
    border-style: solid;
    background-color: white;
}

#currentImageContainer {
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    border: white 2px;
    position: relative;
    padding-left: 15px;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.1);
    height: 60px;
    width: auto;
}

.sliderJunction {
    width: 50px;
    height: 10px;
    background: green;
    margin: 20px auto;
    position: relative;
    opacity: 0.98;
    border-radius: 50px;
    top: 7px;
    left: 30%;
    label {
        width: 16px;
        height: 16px;
        position: absolute;
        top: -3px;
        left: -3px;
        cursor: pointer;
        background: rgb(255, 255, 255);
        border-radius: 50px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease;
    }
    input[type='checkbox'] {
        visibility: hidden;
        &:checked + label {
            left: 37px;
        }
        input[type='checkbox']:not(:checked) {
            background: gray;
        }
    }
}

.numberCircle {
    //margin: auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 25px Arial, sans-serif;
    &:hover {
        cursor: pointer;
    }
}

//pour l'affichage des boutons de selection pour le nombre de cotes en format grille
.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#triangleStyle1 {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid white;
}

#triangleStyle3 {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid black;
}

#triangleBackgroundStyle2 {
    left: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid rgb(48, 46, 64);
    left: 70px;
    position: absolute;
    top: 168px;
}

#triangleBackgroundStyle3 {
    left: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid white;
    left: 131px;
    position: absolute;
    top: 168px;
}

#headerPolygone {
    padding-top: 60px;
    position: relative;
    color: white;
    bottom: 20px;
    width: auto;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 0px;
    left: 6%;
}

.triangleSelectable {
    &:hover {
        cursor: pointer;
    }
}

.typeSelectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.parentRectangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
    margin: 0;
    position: absolute;
}
.top-left {
    top: 0;
    left: 0;
}
.top-mid {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.top-right {
    top: 0;
    right: 0;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.bottom-mid {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-right {
    bottom: 0;
    right: 0;
}
.left-mid {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.right-mid {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.bullseye {
    top: 50%;
    right: 45%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.child {
    position: absolute;
}

.selectionOptionButtonContainer {
    width: 100%;
    height: 90px;
    background-color: rgb(64, 61, 85);
    border-radius: 4px;
    padding-left: 15px;
}
.buttonContainer {
    width: 90%;
    display: flex;
    justify-content: center;
}
.selectAllButton {
    position: relative;
    top: 20px;
}

.active {
    background-color: #5ebb72;
}

.inactive {
    background-color: #9fa1a3;
}

.selectionOptionButtonContainer div {
    display: flex;
    justify-content: space-between;
}

.selectionOptionButtonContainer a {
    display: inline-block;
    //margin-left: 15px;
    position: relative;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    color: white;
    top: 10px;
    padding: 10px;
    border-radius: 6px;
    // color: rgb(64, 61, 85);
}

.selectWholeCanvas {
    width: 100%;
}

#SelectionContainer {
    padding: 5px;
    position: relative;
    margin-bottom: 2px;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    height: 60px;
}

#MagnetismContainer {
    top: 5px;
    padding: 5px;
    position: relative;
    margin-bottom: 2px;
    -webkit-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 64px 59px -71px rgba(255, 255, 255, 0.3);
    height: 60px;
}
