canvas {
    cursor: crosshair;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: fixed;
    top: 0;
}

.canvas-open {
    transition: all 0.3s ease;
    -webkit-transform: translateX(295px);
    transform: translate(295px);
}

.canvas-close {
    transition: all 0.3s ease;
    -webkit-transform: translateX(-295px);
    transform: translate(-295px);
}

#canvas {
    z-index: 0;
    background-color: white;
}

#drawCanvas {
    z-index: 1;
}

#canvas-container {
    position: relative;
}
