<div id="canvas-container" #resizeContainer [style.width.px]="width" [style.height.px]="height" #container>
    <div class="resizer right" (mousedown)="initResizing($event)"></div>
    <div class="resizer bottom" (mousedown)="initResizing($event)"></div>
    <div class="resizer bottom-right" (mousedown)="initResizing($event)"></div>
    <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <canvas id="gridLayer" #gridCanvas [attr.width]="width" [attr.height]="height"></canvas>
</div>