canvas {
    cursor: crosshair;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: fixed;
    top: 0;
    left: 50px;
    transition: all 0.3s ease;
}

.canvas-open {
    transition: all 0.3s ease;
    -webkit-transform: translateX(269px);
    transform: translateX(269px);
}



#canvas {
    z-index: 0;
    background-color: white;
}

#drawCanvas {
    z-index: 1;
}

#canvas-container {
    position: relative;
}
