.material-icons{
    padding-top: 2px;

}

.container2 {
    height: 100%;
    min-height: 98vh;
    //border: 1px solid black;
    //padding: 0 5px 0 5px;
    position: fixed;
    left: 0px;
    top: 0;
    background-color: #04092a;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

.material-icons {
    color: white;
}

//.material-icons:hover{
//  color:white;
//}

.icon-bar {
    width: 50px;
    background-color: #04092a;
    padding-bottom: 10px;
    border-bottom: solid 2px darkgray;
}

.icon-bar2 {
    position: relative;
    top: 200px;
    width: 50px;
    background-color: #04092a;
}

.color-bar{
    position: relative;
    top: 15px;
    width: 50px;
    background-color: #04092a;
}

.color-bar a{
    display: block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.color-box1{
    background-color: salmon;
    border: slategray 1px solid;
    border-radius: 10px;
}
.color-box2{
    background-color: skyblue;
    border: slategray 1px solid;
    border-radius: 10px;
}

.change{
    transition: all 0.1s;
}

.change:hover{
    transition: all 0.1s;
    transform:  rotateX(180deg);
}

.icon-bar2 a{
    display: block;
    position: relative;
    text-align: center;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}

.active{
    background-color: #9fa1a3;
}

.icon-bar a {
    display: block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    //padding: 16px;
    transition: all 0.3s ease;
    color: white;
    top: 10px;
    padding: 10px;
    color: #04092a;
    cursor: pointer;
}

.slidingtxt {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: -10px;
    width: auto;
    height: 30px;
    //display: none;
    visibility: hidden;
    text-align: center;
    //padding: 16px;
    transition: all 0.3s ease;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(63,65,76);
    z-index: -1;
}

.icon-bar a:hover {
    //-webkit-transform: translateX(5px);
    //transform: translate(5px, -5px);
    background-color: #9fa1a3;
    //box-shadow: -1px 1px #6f7172, -2px 2px #6f7172, -3px 3px #6f7172;
    .slidingtxt {
        visibility: initial;
        -webkit-transform: translateX(55px);
        transform: translate(55px);
    }
}


  

