<div class="bodyMock">
    <div class="container2">
        <div id="#icons" class="icon-bar">
            <div class="inlineclass">
                <div class="drawingtoolscontainer">
                    <a id="pencil" class="active" (click)="displayPalette('pencil')" (click)="changeTools('pencil')">
                        <i class="material-icons">gesture</i>
                        <span class="slidingtxt2"> Crayon (C)</span>
                    </a>
                    <a id="brush" (click)="displayPalette('brush')" (click)="changeTools('brush')">
                        <i class="material-icons">brush</i>
                        <span class="slidingtxt2"> Pinceau (W)</span>
                    </a>
                    <a id="line" (click)="displayPalette('line')" (click)="changeTools('line')">
                        <i class="material-icons">architecture</i>
                        <span class="slidingtxt2"> Ligne (L)</span>
                    </a>

                    <a id="plume" (click)="displayPalette('plume')" (click)="changeTools('plume')">
                        <img class="material-icons" style="color: white" src="../../../assets/feather.png" />
                        <span class="slidingtxt2"> Plume</span>
                    </a>
                </div>

                <div class="drawingtoolscontainer2">
                    <a (click)="undo()">
                        <i class="material-icons">undo</i>
                    </a>
                    <a (click)="redo()">
                        <i class="material-icons">redo</i>
                    </a>
                </div>
            </div>

            <div class="color-bar">
                <div class="colorboxcontainer">
                    <a (click)="toggleColorPalette('primaryColorPicker')" class="color-box1"> </a>
                    <a class="tooltip">
                        <i (click)="revertColors()" class="material-icons change">swap_horiz</i>
                    </a>
                    <a id="aerosol" (click)="displayPalette('aerosol')" (click)="changeTools('aerosol')">
                        <i class="material-icons">grain</i>
                        <span class="slidingtxt"> Aérosol (A)</span>
                    </a>
                    <a (click)="toggleColorPalette('secondaryColorPicker')" class="color-box2"> </a>
                </div>
            </div>
            <div class="inlineclass">
                <div class="drawingtoolscontainer">
                    <a id="paintBucket" (click)="displayPalette('paintBucket')" (click)="changeTools('paintBucket')">
                        <img class="material-icons" src="../../../assets/format-color-fill.png" />
                        <span class="slidingtxt2"> Remplir (B)</span>
                    </a>
                    <a class="tooltip" (click)="newDrawing()">
                        <i class="material-icons">add</i>
                        <span class="tooltiptext">Nouveau Dessin</span>
                    </a>
                    <a id="text" (click)="displayPalette('text')" (click)="changeTools('text')">
                        <i class="material-icons">title</i>
                        <span class="slidingtxt2"> Text (T)</span>
                    </a>
                </div>

                <div class="actioniconcontainer">
                    <a class="tooltip" (click)="openCarousel()">
                        <i class="material-icons">collections</i>
                        <span class="tooltiptext">Carrousel Dessin</span>
                    </a>
                    <a class="tooltip" (click)="openSavingDialog()">
                        <i class="material-icons">save_alt</i>
                        <span class="tooltiptext">Sauvegarder Dessin</span>
                    </a>
                    <a id="grid-on" (click)="displayPalette('grid')" (click)="changeTools('grid')">
                        <i class="material-icons">grid_on</i>
                        <span class="slidingtxt"> Grille (G)</span>
                    </a>
                </div>
            </div>

            <div class="drawingtoolscontainer2">
                <a (click)="undo()">
                    <i class="material-icons">undo</i>
                </a>
                <a (click)="redo()">
                    <i class="material-icons">redo</i>
                </a>
            </div>
        </div>

        <div class="color-bar">
            <div class="colorboxcontainer">
                <a (click)="toggleColorPalette('primaryColorPicker')" class="color-box1"> </a>
                <a class="tooltip">
                    <i (click)="revertColors()" class="material-icons change">swap_horiz</i>
                </a>
                <a (click)="toggleColorPalette('secondaryColorPicker')" class="color-box2"> </a>
            </div>
        </div>

        <div class="icon-bar2">
            <div class="actioniconcontainer">
                <a class="tooltip" (click)="openExportDialog()">
                    <i class="material-icons">save</i>
                    <span class="tooltiptext">Exporter le dessin</span>
                </a>
                <a class="tooltip" (click)="newDrawing()">
                    <i class="material-icons">add</i>
                    <span class="tooltiptext">Nouveau Dessin</span>
                </a>
            </div>

                <div class="actioniconcontainer">
                    <a class="tooltip" (click)="openUserGuide()">
                        <i class="material-icons">help_center</i>
                        <span class="tooltiptext">Guide D'utilisateur</span>
                    </a>
                    <a class="tooltip" (click)="warningMessage()">
                        <i class="material-icons">house</i>
                        <span class="tooltiptext">Menu Principal</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
