.color-palette:hover {
    cursor: pointer;
}
:host {
    width: 35px;
    height: 180px;
    display: block;
    border: black;
    margin-left: 10px;
    margin-right: 7px;
    margin-top: 7px;
    border-width: 2px;
}
